/* Body styling */
body {
  background: pink;
  color: #fff;
  font-family: serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 1.65em;
  margin: 0 auto;
  max-width: 960px;
  padding: 40px 10px;  
}


/* Heading Styles */
h1 {
  font-size: 150px;
  color: #92a8d1;
  text-align: center;
}


/* Game Directions */
.description {
  text-align: center;
  margin: 80px auto 40px;
}


/* Submit Button, Columns, Questions, and Inputs */
.button-submit {
  background: transparent;
  border: 3px solid #92a8d1;
  border-radius: 4px;
  color: #fff;
  cursor: pointer; 
  display: block;
  font-size: 30px;
  font-weight: bolder;  
  margin: 0 auto 10px;
  padding: 1em 2em; 
  text-align: center; 
}

.bucket {
  display: inline-block;
  margin-bottom: 40px;
  width: 100%;
}

.choice-bucket {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  width: 33.333333%;
}

.choice-bucket label {
  font-size: 20px;
  line-height: 13px;
  margin: 15px 4%;
  text-align: center;
  display: block;
}

.choice-bucket input {
  border: 1px solid: transparent;
  border-radius: 6px;
  color: rgb(217, 30, 233);
  font-size: 20px;
  margin: 15px 4%;
  outline: 0;
  padding: 16px 0;
  text-indent: 20px;
  width: 92%;  
}

.choice-bucket label ~ input {
  margin-top: 0;
}

.highlight {
  font-size: 30px;
  line-height: 24px;
  margin-left: 30px;
  opacity: .9;
  text-align: center;
  color: #92a8d1 ;
  margin-top: 30px
}



/* Answer Div */
#answers {
  margin: 60px 0;
  background: pink;
  border-radius: 6px;
  color: #9fff;
  transition: 3s linear;
  text-align: center;
  border-style: dotted;
  border-width: 5px;
}

#answers p {
  max-width: 760px;
  margin: auto;
  padding: 20px 0;
}

#answers p span {
  font-weight: bold;
}


.hide {
  opacity: 0;
  height: 0;
}

.show {
  opacity: 10;
  height: 100%;
}
